<div ng-controller="headerController as headerCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="body.main">На главную</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="body.articleCreate">Новая статья</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" ng-style="{backgroundImage: 'url(img/bg-'+ $root.rndBG +'.jpg)'}">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div ng-class="{'post-heading': $root.createdArticle, 'site-heading': !$root.createdArticle}">
                        <h1>{{ $root.title || $root.defaultTitle}}</h1>
                        <hr class="small" ng-if="!$root.createdArticle">
                        <span class="subheading" ng-if="!$root.createdArticle">Yii2 framework (RESTful API) + front-end AngularJS</span>
                        <span class="meta" ng-if="$root.createdArticle">Опубликовано {{$root.createdArticle}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="content" ui-view="main"></div>

<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://github.com/ilyakonovaloff/yii2-rest-angular" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Ilya Konovalov  2015</p>
            </div>
        </div>
    </div>
</footer>